@using EntityLayer.Concrete;
@model List<UserInfo>
@{
    Layout = null;
}


<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>SURNAME</th>
        <th>Phone Number</th>
        <th>SHA-256</th>

    </tr>
    @foreach(var item in Model)
            {
                <tr>
                    <td>@item.UserID</td>
                    <td>@item.Name</td>
                    <td>@item.Surname</td>
                    <td>@item.PhoneNumber</td>
                    <td>@item.Sha256</td>
                </tr>
            }
</table>
<a href="/UserInfo/AddUser" class="btn btn-info" >Kayıt Ol</a>