@model EntityLayer.Concrete.UserInfo
@{
    ViewBag.Title = "SumCarbon";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
@Html.AntiForgeryToken()
<h1> @TempData["yar"] </h1>
@using (Html.BeginForm("SumCarbon", "UserPanel", FormMethod.Post))
{

    <div class="form-group">
        @Html.HiddenFor(x => x.UserID)
        @Html.HiddenFor(x => x.Name)
        @Html.HiddenFor(x => x.PhoneNumber)
        @Html.HiddenFor(x => x.Sha256)
        @Html.HiddenFor(x => x.Surname)
        

        <br />


        <br />




        <br />


        <button class="btn btn-success">Dönüştür</button>



    </div>
}
