@model  RecycleCoinProject.ViewModel.UserInfoAndProductInfoViewModel

@{
    ViewBag.Title = "UserProductExchange";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<h1></h1>
@Html.AntiForgeryToken()
@using (Html.BeginForm("UserProductExchange", "UserPanel", FormMethod.Post))
{

    <div class="form-group">

        <br />
        @Html.Label("Kullanici Adı")
        @Html.DropDownListFor(x => x.ProductInfo.ProductCarbon, (List<SelectListItem>)ViewBag.pi, new { @class = "form-control" })
        @*@Html.TextBoxFor(x => x.UserInfo.UserID)
        @Html.TextBoxFor(x => x.UserInfo.Name)
        @Html.TextBoxFor(x => x.UserInfo.PhoneNumber)
        @Html.TextBoxFor(x => x.UserInfo.Sha256)
        @Html.TextBoxFor(x => x.UserInfo.Surname)
        @Html.TextBoxFor(x => x.UserInfo.Balance)*@


        <br />




        <br />


        <button class="btn btn-success">Dönüştür</button>



    </div>
}
