@model EntityLayer.Concrete.UserInfo
@{
    ViewBag.Title = "AddUser";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1> Kullanıcı Ekle</h1>
<br />
@using (Html.BeginForm("AddUser", "AdminUserInfo", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("Kullanici Adi")
        @Html.TextBoxFor(x => x.Name,new{ @class = "form-control"})
        @Html.ValidationMessageFor(x => x.Name)
        <br /> <br />
        @Html.Label("Soy Adi")
        @Html.TextBoxFor(x => x.Surname, new { @class = "form-control" })
        <br /> <br />
        @Html.Label("Telefon Numarası")
        @Html.TextBoxFor(x => x.PhoneNumber, new { @class = "form-control" })
        <br /> <br />
        @Html.Label("SHA-256")
        @Html.TextBoxFor(x => x.Sha256, new { @class = "form-control" })
        <br /> <br />
        <button class="btn btn-primary">Kaydet</button>
        @Html.Label("Balance")
     





    </div>
}