@model EntityLayer.Concrete.UserInfo
@{
    ViewBag.Title = "EditUser";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>User Update</h2>
@using (Html.BeginForm("EditUser", "AdminUserInfo", FormMethod.Post))
        {
      <div class="form-group">
          @Html.Label("Kullanici ID")
          @Html.TextBoxFor(x => x.UserID, new { @class = "form-control" })
          <br />
          @Html.Label("Kullanici Adı")
          @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
          <br />

          @Html.Label("Kullanici SoyAd")
          @Html.TextBoxFor(x => x.Surname, new { @class = "form-control" })
          <br />
          @Html.Label("Telefon No")
          @Html.TextBoxFor(x => x.PhoneNumber, new { @class = "form-control" })
          <br />
          <button class="btn btn-success">Güncelle</button>

      </div>
        }

