@model EntityLayer.Concrete.ProductInfo
@{
    ViewBag.Title = "EditProduct";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1> Ürün Güncelle</h1>
<br />
@using (Html.BeginForm("EditProduct", "Product", FormMethod.Post))
{
    <div class="form-group">


        @Html.Label("Ürün ID")
        @Html.TextBoxFor(x => x.ProductID, new { @class = "form-control" })
        <br /> <br />
        @Html.Label("Ürün Adı")
        @Html.TextBoxFor(x => x.ProductName, new { @class = "form-control" })

        <br /> <br />
        @Html.DropDownListFor(x => x.ProductTypeID, (List<SelectListItem>)ViewBag.pi, new { @class = "form-control" })

        <br /> <br />
        @Html.Label("Ürün Carbon Degeri")
        @Html.TextBoxFor(x => x.ProductCarbon, new { @class = "form-control" })

        <br /> <br />
        <button class="btn btn-primary">Güncelle</button>
    </div>
}
