@using EntityLayer.Concrete;
@model List<ProductInfo>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>PRODUCT NAME</th>
        <th>Product Type Id</th>
        <th>Product Type </th>
        <th>Product Carbon</th>
        
        <th>Sil</th>
        <th>Güncelle</th>


    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.ProductID</th>
            <td>@item.productType</td>
            <td>@item.ProductName</td>
            <td>@item.productType</td>
            <td>@item.ProductCarbon</td>
            <td> <a href="/AdminUserInfo/DeleteUser/@item.ProductID" class="btn btn-danger">Sil</a></td>
            <td> <a href="/AdminUserInfo/EditUser/@item.ProductID" class="btn btn-warning">Güncelle</a></td>
        </tr>
    }
</table>

<a href="/AdminUserInfo/AddUser" class="btn btn-info">Kullanıcı Ekle</a>